<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="\flask_test\templates\base\flask_test\templates\favicon.ico"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>

</head>

<body>
<!-- ESTA ES LA PAGINA DE INICIO DEL PROGRAMA-->

    <form method="post" action="{{ url_for('irRegistroDueño') }}">
        <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registro arrendatario</button> 
    </form>
   
    <form method="post" action="{{ url_for('irRegistroEstudiante') }}">
        <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registro estudiante</button> 
    </form>

    <p>Esto va arriba</p>
    <p> {{ mensaje }} </p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for m in messages%}
                    <li> {{ m }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if tipo == "Agregar vivienda" %}

        <!-- Esto es cuando entra el dueño-->
        <form method="post" action="{{ url_for('irPerfilDueño') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Perfil</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('logout') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Cerrar sesión</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('irNotificacionesDueño') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Notificaciones</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('irMapaSitioInteres') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Agregar sitios de interes</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('volverMapaD') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ tipo }}</button>
        </form>
        
    {% endif %}

    {% if tipo == "Ver viviendas" %}

        <!-- Esto es cuando entra el estudiante-->
        <form method="post" action="{{ url_for('irPerfilEstudiante') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Perfil</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('logout') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Cerrar sesión</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('irNotificacionesEstudiante') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Notificaciones</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('volverMapaE') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ tipo }}</button>
        </form>
        <p></p>
        <form method="post" action="{{ url_for('irMapaEventos') }}">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Eventos</button>
        </form>
    {% endif %}

    {% if tipo != "Ver viviendas" and tipo != "Agregar vivienda" %}
    <form method="post" action="{{ url_for('irLogin') }}">
        <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logueate</button>
    </form>
    {% endif %}
    
    

</body>

</html>