{% extends "base_mapa.html" %}

{% block content2 %}

    <p id = "msg4" style="display: none;"> Información de la vivienda:</p>
    <p></p>
    <p id = "Descipcion_vivienda"> </p>
    <p></p>
    <p id = "Nombre_sitio_info" style="display: none;"></p>
    <p></p>
    <p id = "Descripcion_sitio_info" style="display: none;"></p>
    <p></p>
    <p id = "msg" style="display: none;"> -- Si te interesa la vivienda ingresa los siguientes datos y notifica al dueño:</p>
    <p></p>
    <p style="display: none;" id = "msg2"> Ingresa la fecha de entrada </p>
    <p></p>
    <input id="fecha_entrada" type="text" style="display: none;">
    <p></p>
    <p style="display: none;" id = "msg1"> Ingresa la fecha de salida </p>
    <p></p>
    <input id="fecha_salida" type="text" style="display: none;">
    <p></p>
    <p style="display: none;" id = "msg3">Elige la forma de pago</p>
    <p></p>
    <select name="OS" id="forma_pago" style="display: none;">
        <optgroup label="Forma de pago"> 
            <option value="Mensual">Mensual</option> 
            <option value="Cargo único a su tarjeta">Cargo único a su tarjeta</option> 
        </optgroup> 
    </select>
    <p></p>


    <form method="post" action="{{ url_for('volverInicio') }}">
        <button id="guardar" class="w3-button w3-black w3-margin-top" style="display: none;"> Notificar </button>
    </form>

    


<script type="text/javascript">

    //Coloco iconos personalizados para los eventos
    var greenIcon = L.icon({
        iconUrl:  'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png   ',
        iconSize:     [25, 41], 
        shadowSize:   [50, 64], 
        iconAnchor:   [12, 41], 
        shadowAnchor: [4, 62],  
        popupAnchor:  [-3, -76] 
        
    });

    var popup = L.popup();
    var marker = L.marker();
    var marker_sitios = L.marker();
        
    //Recibo la base de datos
    var ubicaciones = {{ubi|tojson|safe}}; 
    var sitios = {{sitios|tojson|safe}}; 

    for(i in ubicaciones){
        console.log(ubicaciones[i]);
    }
    
    // Mostrar los market con la información que me llega de la base de datos:
    var marker = new Array();
    var marker_sitios = new Array();
    
    //Creando la zona.
    var circle = L.circle([7.062409, -73.087325],{color: 'blue',radius: 500}).addTo(mymap);
    var u;

    //Poner markers de viviendas
    for (var r = 0; r < ubicaciones.length; r++) {
        
        var single = ubicaciones[r];
        console.log(single.Dueño);
        var LamMarker = L.marker([single.Latitud, single.Longitud],{Dueño_Vivienda:single.Dueño, Descripcion:single.Descripcion, Reglas:single.Reglas, Codigo:single.Num, Correo:single.Correo_dueño,Precio:single.Precio,Tipo:single.Tipo,Metodo:single.Metodo,Direccion_exacta:single.direccion_exacta});
        marker.push(LamMarker);
        marker[r].on('click', onClick);
        marker[r].addTo(mymap);

    };

    //Poner markers de sitios de interes
    for (var r = 0; r < sitios.length; r++) {
        var single = sitios[r];
        var LamMarker = L.marker([single.latitud, single.longitud],{icon: greenIcon,descripcion:single.descripcion,nombre_sitio:single.nombre_sitio});
        console.log(single.Num)
        marker_sitios.push(LamMarker);
        marker_sitios[r].on('click', mostrar_Eventos);
        marker_sitios[r].addTo(mymap);
    };

    //Mostrar información de las viviendas
    function onClick(e) {
        var i = this.options;
        console.log(i);
        event = e;
        document.getElementById('Nombre_sitio_info').style.display = "none";
        document.getElementById('Descripcion_sitio_info').style.display = "none";
        document.getElementById('Descipcion_vivienda').style.display = 'inline';
        document.getElementById('Descipcion_vivienda').innerHTML = "Dueño: " + i.Dueño_Vivienda + " <p></p> Dirección exacta: " + i.Direccion_exacta +" <p></p> Precio de la vivienda: " + i.Precio + "<p></p> Tipo de vivienda: " + i.Tipo + "<p></p> Descripción: " + i.Descripcion + "<p></p> Reglas: " + i.Reglas + "<p></p> Metodo de pago: " + i.Metodo + "<p></p> Correo del dueño: " + i.Correo + "<p></p>";
        document.getElementById('guardar').style.display = 'inline';
        document.getElementById('msg').style.display = 'inline';
        document.getElementById('msg1').style.display = 'inline';
        document.getElementById('msg2').style.display = 'inline';
        document.getElementById('msg3').style.display = 'inline';
        document.getElementById('msg4').style.display = 'inline';
        document.getElementById('fecha_salida').style.display = 'inline';
        document.getElementById('fecha_entrada').style.display = 'inline';
        document.getElementById('forma_pago').style.display = 'inline';
        
        //Guardo el código de la vivienda
        u = i.Codigo;
    }

    //Mostrar información de los sitios de interes
    function mostrar_Eventos(e) {
        var i = this.options;
        console.log(i);
        event = e;
            
        document.getElementById('Descipcion_vivienda').style.display = "none";
        document.getElementById('guardar').style.display = "none";
        document.getElementById('msg').style.display = 'none';
        document.getElementById('msg1').style.display = 'none';
        document.getElementById('msg2').style.display = 'none';
        document.getElementById('msg3').style.display = 'none';
        document.getElementById('msg4').style.display = 'none';
        document.getElementById('fecha_salida').style.display = 'none';
        document.getElementById('fecha_entrada').style.display = 'none';
        document.getElementById('forma_pago').style.display = 'none';
        document.getElementById('Nombre_sitio_info').style.display = "inline";
        document.getElementById('Nombre_sitio_info').innerHTML = "Nombre del sitio: " + i.nombre_sitio + "<p></p>";
        document.getElementById('Descripcion_sitio_info').style.display = "inline";
        document.getElementById('Descripcion_sitio_info').innerHTML = "Descripción: " + i.descripcion;
        //Guardo el código de la vivienda
        u = i.Codigo;
    }


    document.getElementById('guardar').addEventListener('click',(event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if (this.status == 200){
                console.log("petición enviada con exito");
            }
        };

        var p = new FormData();
        //Envio el código de la vivienda
        p.append('xd',u);
        p.append('fecha_entrada',document.getElementById('fecha_entrada').value);
        p.append('fecha_salida',document.getElementById('fecha_salida').value);
        p.append('forma_pago',document.getElementById('forma_pago').value);
        xhttp.open("POST","/mapaEstudiante",true);
        xhttp.send(p);
    });

    
</script>

{% endblock %}