{% extends "base_perfiles_estudiante.html" %}

{% block content %}
<table>
    
    <tr>
      <td valign="top" class = "w3-center" width = "300">
          <p>Información de tu cuenta</p>
          
      </td>
      <td valign="top" class = "w3-center"width = "300" >
          <p> Historial de tus viviendas </p>
          
          
      </td>
      <td valign="top" class = "w3-center" width = "500">
          <p> Tus eventos </p>
          
            
          
      </td>
      <td valign="top" class = "w3-center" >
        <p> Eventos en los que has estado </p>
        
      </td>
    </tr>
    <tr>
        <td width = "400" valign="top">
                <p>Tu nombre: {{h.username}}</p>
                <p>Tu correo: {{h.correo_estudiante}}</p>
                <p>Tu pais: {{h.pais}}</p>
                <p>Tu edad: {{h.edad}} años</p>
                <p>Tu contacto: {{h.contacto}}</p>
                <p>Tu genero: {{h.genero}}</p>
            
        </td>
        <td width = "400" valign="top">
                {% for x in h.viviendas%}
                <p>Código de la vivienda: {{x.codigo_Vivienda}}</p>
                <p>Correo del dueño: {{x.dueño.correo_dueño}}</p>
                <p>-----------------------------------------------</p>
                {% endfor %}
            
            
    
        </td>
        <td width = "400" valign="top">
                {% for i in h.evento %}

                <p>* Evento código: {{ i.codigo_evento }} con nombre {{i.nombre_evento}}, en {{ i.sitio.nombre_Interes }} el día {{ i.fecha }} a las {{ i.hora }}</p>
                <p> Con las siguientes personas: </p>
                {% if i.estudiantes == [] %}
                    <p>No hay nadie</p>
                {% endif %}
                {% if i.estudiantes != [] %}
                    {% for o in i.estudiantes%}
                        <p> - {{ o.username }} </p>
                    {% endfor %}
                {% endif %}
                <p>------------------------------------------------------------------</p>
            {% endfor %}
        </td>   
        <td width = "400" valign="top">
            {% for y in h.estudianteE %}
                <p>* Evento código: {{ y.codigo_evento }} con nombre {{y.nombre_evento}}, en {{ y.sitio.nombre_Interes }} el día {{ y.fecha }} a las {{ y.hora }}</p>
                <p>---------------------------------------------------------</p>
            {% endfor %}
            
        </td>
    </tr>
  </table>

    

    <p></p>
    

    <p></p>
    
    

{% endblock %}