{% extends "base_perfiles_dueño.html" %}

{% block content %}
<table>
        <tr>
          <td class = "w3-center" width = "450">
              <p>Información de tu cuenta</p>
          </td>
          <td class = "w3-center" width = "450">
              <p>Códigos de tus viviendas</p>
          </td>
        </tr>
        <tr>
            <td>
                <p>Tu nombre: {{h.username}}</p>
                <p>Tu correo: {{h.correo_dueño}}</p>
                <p>Tu contacto: {{h.contacto}}</p>
                <p>Tu idioma: {{h.idioma}}</p>
                
            </td>
            <td>
          
                {% for i in h.viviendasU %}
                    {% if i.estado == "t" %}
        
                        <p>Vivienda: {{i.codigo_Vivienda}} - Dirección {{ i.direccion_exacta }}</p>
                        <p>Estudiantes en esa vivienda:</p>
                        {% for o in u %}
                            {% if i.codigo_Vivienda == o.codigo_Vivienda %}
                                {% for l in o.estudiantes %}
                                    <p>{{l.username}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                
                        <form method="post" action="{{ url_for('volverInicio') }}">
                            <button data-value = {{i.codigo_Vivienda}} id = "eliminar" class="w3-button w3-black w3-margin-top eliminar">Eliminar vivienda</button>
                        </form>
        
                    {% endif %}
                {% endfor %}
            </td>
    
        </tr>
</table>
    
    

       

    <script>

    var elements = document.querySelectorAll(".eliminar");
    for(var i = 0; i < elements.length ; i++){
        elements[i].addEventListener("click", function(){
            console.log($(this).attr('data-value'));
            $.post("perfilDueño", {'codigo' : $(this).attr('data-value')});
        });
    } 
    console.log(elements);
    
    </script>

    
{% endblock %}
