{% extends "base_registros.html" %}

{% block content %}
    <form method="post" action="{{ url_for('registro_estudiante') }}">
        <p> Ingresa tu nombre completo </p>
        <p><input name="username" type="text"></p>
        <p> Ingresa tu contraseña </p>
        <p><input name="password" type="password"></p>
        <p> Ingresa tu correo </p>
        <p><input name="correo" type="text"></p>
        <p> Ingresa tu pais </p>
        <p><input name="pais" type="text"></p>
        <p> Ingresa tu genero (Hombre/Mujer) </p>
        <p><input name="genero" type="text"></p>
        <p> Ingresa tu edad </p>
        <p><input name="edad" type="int"></p>
        <p> Ingresa tu idioma de origen</p>
        <p><input name="idioma" type="text"></p>
        <p> Ingresa tu número telefonico </p>
        <p><input name="numero" type="text"></p>


        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Sign up</button>
</form>
{% endblock %}