{% extends "base_registros.html" %}

{% block content %}
    <form method="post" action="{{ url_for('registro_dueño') }}">
        <p> Ingresa tu nombre completo </p>
        <p><input name="username" required type="text"></p>
        <p> Ingresa tu contraseña </p>
        <p><input name="password" required type="password"></p>
        <p> Ingresa tu correo </p>
            <p><input name="correo" required type="text"></p>
        <p> Ingresa tu número movil </p>
        <p><input name="contacto" required type="text"></p>
        <p> Ingresa tu idioma </p>
        <p><input name="idioma" required type="text"></p>

        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Sign up</button>
    </form>
{% endblock %}